<!-- GLAVNI NASLOV -->
<h1 class="mt-4 glavni-naslov">{{naslov}}</h1>

<!-- KREIRAJ BLOG FORM -->
<form class="zacetni-obrazec mt-4" (ngSubmit)="urediBlog()">
  <div class="form-group">
    <label for="naslov"><b>Naslov</b></label>
    <input id="naslov" class="form-control vnosno-polje" type="text" name="naslov" value="{{prvotniBlog.naslov}}" placeholder="Keep it short and sweet." [(ngModel)]="prvotniBlog.naslov" required/>
  </div>
  <div class="form-group">
    <label for="vsebina"><b>Vsebina</b></label>
    <textarea id="vsebina" class="form-control" name="vsebina" [(ngModel)]="prvotniBlog.vsebina" rows="10">{{prvotniBlog.vsebina}}</textarea>
  </div>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-4">
      <button type="submit" class="btn btn-lg btn-warning mb-2" style="color: white; width: 100%">Uredi blog</button>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-4">
      <button type="submit" class="btn btn-lg btn-danger" style="width: 100%">Izbriši blog</button>
    </div>
    <div class="col-md-1"></div>
  </div>
</form>
<div class="mt-1 mb-3" style="width: 40%; margin: 0 auto; text-align: left">
  <b><a style="font-size: 1.3em" routerLink="/">Nazaj</a></b>
</div>
