<div class="container">
  <h2 class="glavni-naslov mt-3 mb-5">Pregled blogov</h2>
  <div *ngIf="!tabelaBlogov">
    <div class="alert alert-warning" role="alert">
      Pridobivanje Blogov iz PB!
    </div>
  </div>
  <!-- SEZNAM VSEH BLOGOV -->
  <div *ngIf="tabelaBlogov" class="row">
    <div class="col-md-6 col-sm-12 mb-4" *ngFor="let blog of tabelaBlogov">
      <div class="card">
        <!--TODO SLIKA -- preveri, če obstaja slika, če ne daj neko default sliko!! -->
        <img class="img-thumbnail card-img-top" src="../../../assets/imgs/blogPicDefault.jpg" alt="Blog picture">
        <div class="card-body">
          <h4 class="card-title">{{blog.naslov}}</h4>
          <h6 class="text-muted">by {{blog.avtor}}</h6>
          <!-- Prikaži največ 100 znakov vsebine bloga!-->
          <p *ngIf="blog.vsebina.length <= 100" class="card-text">{{blog.vsebina}}</p>
          <p *ngIf="blog.vsebina.length > 100" class="card-text">{{blog.vsebina.slice(0,100)}}...</p>
          <a routerLink="blogi/{{blog.PK}}" class="btn btn-primary">Podrobnosti</a>
        </div>
      </div>
    </div>
  </div>
</div>
