<div class="container mt-5">
  <b><a style="font-size: 1.3em" routerLink="/">Nazaj</a></b>
</div>
<div class="container mt-2">
  <div *ngIf="blog" id="blog">
    <!-- MAIN INFO -->
    <h1>{{blog.naslov}}</h1>
    <h6 class="text-muted">by <b>{{blog.avtor}}</b></h6>
    <h6 class="text-muted">Objavljeno: {{blog.datum}}</h6>
    <hr>
    <!-- VSEBINA BLOGA -->
    <h4 class="mt-4">Vsebina</h4>
    <p class="mt-2">
      {{blog.vsebina}}
    </p>
  </div>
  <div *ngIf="jeLastnik">
    <button class="btn btn-lg btn-warning text-white mt-4" (click)="urediBlog()">Uredi blog</button>
  </div>
  <div class="mb-4 mt-4" id="comment-section">
    <h3 class="mb-3">Komentarji</h3>
    <!-- Dodaj novi komentar -->
    <div *ngIf="jePrijavljen" >
      <form (ngSubmit)="dodajKomentar()">
        <div class="form-group">
          <div class="row">
            <div class="col-md-5">
              <input class="form-control" type="text" name="komentar" [(ngModel)]="noviKomentar.vsebina" placeholder="Napiši komentar">
              <div *ngIf="praznaPolja" class="alert alert-danger mt-3 mb-3" role="alert">
                Prosim izpolnite vsa polja.
              </div>
            </div>
            <div class="col-md-3">
              <button type="submit" class="btn btn-md btn-info">Komentiraj!</button>
            </div>
            <div class="col-md-4"></div>
          </div>
        </div>
      </form>
    </div>
    <!-- SEZNAM komentarjev -->
    <ng-template #recursiveList let-mainCommentTable>
      <div class="komentar mb-2 mt-2" *ngFor="let komentar of mainCommentTable">
        <div>
          <h6>{{komentar.avtor}}</h6>
          <div>
            <i class="fas fa-arrow-alt-circle-down mr-1" (click)="downvote(komentar.PK,komentar.SK)"></i>
            <span>{{vrniStGlasov(komentar.upvotes)}}</span>
            <i class="fas fa-arrow-alt-circle-up ml-1" (click)="upvote(komentar.PK,komentar.SK)"></i>
          </div>
        </div>
        <p>{{komentar.vsebina}}</p>
        <div class="row">
          <form class="col-md-4" (ngSubmit)="dodajPodKomentar($event)">
            <div class="form-group">
              <div class="row">
                <input type="text" name="komentarId" value="{{komentar.SK}}" hidden>
                <div class="col-md-9 padding-right-zero">
                  <input class="form-control" type="text" name="komentar" [(ngModel)]="noviPodKomentar.vsebina" placeholder="Napiši podkomentar">
                </div>
                <div class="col-md-3">
                  <button type="submit" class="btn btn-sm btn-info">Dodaj!</button>
                </div>
              </div>
            </div>
          </form>
          <div class="col-md-2 padding-left-zero">
            <b *ngIf="trenutniPrijavljen == komentar.avtor"><a routerLink="/urediKomentar/{{komentar.PK+komentar.SK}}">Uredi</a></b>
          </div>
          <div class="col-md-6"></div>
        </div>

        <!-- poglej ce ima podkomentarje! -->
        <div class="ml-5 indent" *ngIf="komentar.komentarji.length > 0">
          <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: komentar.komentarji }"></ng-container>
        </div>
      </div>
    </ng-template>
    <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: mainCommentTable }"></ng-container>
  </div>
</div>

<div *ngIf="!blog" class="alert alert-warning" role="alert">
  Pridobivanje Bloga
</div>

