<div class="container mt-5">
  <b><a style="font-size: 1.3em" routerLink="/">Nazaj</a></b>
</div>
<div class="container mt-2">
  <div *ngIf="blog" id="blog">
    <!-- MAIN INFO -->
    <h1>{{blog.naslov}}</h1>
    <h6 class="text-muted">by <b>{{blog.avtor}}</b></h6>
    <h6 class="text-muted">Objavljeno: {{blog.datum}}</h6>
    <hr>
    <!-- VSEBINA BLOGA -->
    <h4 class="mt-4">Vsebina</h4>
    <p class="mt-2">
      {{blog.vsebina}}
    </p>
  </div>
  <div *ngIf="jeLastnik">
    <button class="btn btn-lg btn-warning text-white mt-4" (click)="urediBlog()">Uredi blog</button>
  </div>
</div>

<div *ngIf="!blog" class="alert alert-warning" role="alert">
  Pridobivanje Bloga
</div>

