#blog, #comment-section{
  background: white;
  padding: 2rem 2rem;
  border-radius: 10px;
}

.komentar {
  border-bottom: 4px solid #F4F0F7;
}
.indent {
  border-left: 4px solid #F4F0F7;
  padding-left: 10px;
}

.padding-left-zero {
  padding-left: 0;
}
.padding-right-zero {
  padding-right: 0;
}
